/* Write your CSS here */

.bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.heading {
  font-family: 'roboto';
  color: #05acff;
  font-weight: bold;
}
